{% extends 'base.html.twig' %}

{% block title %}Relate | Create Student
{% endblock %}

{% block body %}
	<h4 class="text-center my-3">Edit your data:</h4>

	<div class="container">
		{{ form_start(studentForm, {'attr': {'class': 'col-md-5 mx-auto'}}) }}

		<p>
			<strong>Your Profile :</strong>
		</p>

		{{ form_row(studentForm.firstname )}}
		{{ form_row(studentForm.lastname )}}
		{{ form_row(studentForm.age )}}
		{{ form_row(studentForm.classrooms )}}
		{{ form_row(studentForm.studentDuos )}}
		{{ form_row(studentForm.username )}}
		{{ form_row(studentForm.password )}}
		{{ form_row(studentForm.photo )}}
		{{ form_row(studentForm.sport )}}
		{{ form_row(studentForm.music )}}
		{{ form_row(studentForm.other_hobbies )}}
		{{ form_row(studentForm.description )}}

		<div class="text-center mt-2">
			<button type="submit" class="btn btn-peche text-white text-center">Create the school account</button>
		</div>

		{{ form_end(studentForm, {'attr': {'class': 'col-md-5 mx-auto'}}) }}

	</div>
{% endblock %}
