{% extends 'base.html.twig' %}

{% block title %}Relate | Student
{% endblock %}

{% block body %}
	<h1>{{ title }}</h1>

	<table class="table table-bordered text-center">

		<thead>
			<tr>
				<th>Data</th>
				<th>Your info</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Username</td>
				<td>{{ app.user.username }}</td>
			</tr>
			<tr>
				<td>Password</td>
				<td>{{ app.user.password }}</td>
			</tr>
			<tr>
				<td>Firstname</td>
				<td>{{ app.user.firstname }}</td>
			</tr>
			<tr>
				<td>Lastname</td>
				<td>{{ app.user.lastname }}</td>
			</tr>
			<tr>
				<td>Firstname</td>
				<td>{{ app.user.firstname }}</td>
			</tr>
			<tr>
				<td>Age</td>
				<td>{{ app.user.age }}</td>
			</tr>
			<tr>
				<td>Description</td>
				<td>{{ app.user.description }}</td>
			</tr>
			<tr>
				<td>Photo</td>
				<td>{{ app.user.photo }}</td>
			</tr>
			<tr>
				<td>Sport</td>
				<td>{{ app.user.sport }}</td>
			</tr>
			<tr>
				<td>Music</td>
				<td>{{ app.user.music }}</td>
			</tr>
			<tr>
				<td>Other hobbies</td>
				<td>{{ app.user.other_hobbies }}</td>
			</tr>
		</tbody>
	</table>

{% endblock %}
