{% extends 'base.html.twig' %}

{% block title %}Relate | Student
{% endblock %}

{% block body %}
	<h1>{{ title }}</h1>

	<table class="table table-bordered text-center">
		<tr>
			{% for data in colonnes %}

				<th>{{ data|upper }}</th>

			{% endfor %}
		</tr>

		{% for student in students %}

			<tr>
				<td>{{ student.username }}</td>
				{# <td>{{ student.password }}</td> ça ne sert à rien Symfony ne l'affiche pas #}
				<td>{{ student.firstname }}</td>
				<td>{{ student.lastname }}</td>
				<td>{{ student.age }}</td>
				<td>{{ student.description }}</td>
				<td>{{ student.photo }}</td>
				<td>{{ student.sport }}</td>
				<td>{{ student.music }}</td>
				{# <td>{{ student.other_hobbies }}</td> #}
			</tr>

		{% endfor %}

	</table>

{% endblock %}
