{% extends 'base.html.twig' %}

{% block title %}Relate | Student Profile
{% endblock %}

{% block body %}
	<h1>My Profile</h1>

	<div class="content">
		<img src="http://placehold.it/150x150" alt="">
		<h2>{{ student.firstname}} {{ student.lastname}}</h2>
		<span>{{ student.age}}</span>
		<span>Duo</span>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem quasi ipsum mollitia! Maiores vero quod enim culpa laborum quidem ut, dolorem tempora repudiandae accusantium fuga recusandae rem eveniet suscipit quas!</p>
		<span>{{ student.sport}}</span>
		<span>{{ student.music}}</span>
		<p>{{ student.otherhobbies}}</p>
		<p>{{ student.description}}</p>

		<a href="{{ path('editmystudentprofile', {'id': student.id}) }}" class="btn">Editer</a>
	</div>

{% endblock %}