{% extends 'base.html.twig' %}

{% block title %}Relate | Student Duos
{% endblock %}

{% block body %}

	<div class="container relate-body">

		<div class="col-12">
			<h1 class="text-center my-5">Connect students</h1>

			<div class="row">
				{% for classroomData in classroomOne %}
					<h2 class="col-12 col-lg-6 text-center mb-5">{{ classroomData.classroomName}}
						/
						{{ classroomData.grade}}</h2>
				{% endfor %}
				{% for classroomData in classroomTwo %}
					<h2 class="col-12 col-lg-6 text-center mb-5">{{ classroomData.classroomName}}
						/
						{{ classroomData.grade}}</h2>
				{% endfor %}
			</div>
			<div class="row">
				<div class="col-12 col-lg-6">
					<table class="table table-hover table-bordered">
						<tr>
							<th class="peach-tab text-light text-center">Lastname</th>
							<th class="peach-tab text-light text-center">Firstname</th>
							<th class="peach-tab text-light text-center">Sport</th>
							<th class="peach-tab text-light text-center">Music</th>
							<th class="peach-tab text-light text-center">Other hobbies</th>
						</tr>
						{% for students in classroomOne %}
							{% for item in students.students %}
								<tr>
									<td class="text-center">{{ item.lastname }}</td>
									<td class="text-center">{{item.firstname}}</td>
									<td class="text-center">{{item.sport}}</td>
									<td class="text-center">{{item.music}}</td>
									<td class="text-center">{{item.otherHobbies}}</td>
								</tr>
							{% endfor %}
						{% endfor %}
					</table>
				</div>
				<div class="col-12 col-lg-6">
					<table class="table table-hover table-bordered">
						<tr>
							<th class="peach-tab text-light text-center">Lastname</th>
							<th class="peach-tab text-light text-center">Firstname</th>
							<th class="peach-tab text-light text-center">Sport</th>
							<th class="peach-tab text-light text-center">Music</th>
							<th class="peach-tab text-light text-center">Other hobbies</th>
						</tr>
						{% for students in classroomTwo %}
							{% for item in students.students %}
								<tr>
									<td class="text-center">{{ item.lastname }}</td>
									<td class="text-center">{{item.firstname}}</td>
									<td class="text-center">{{item.sport}}</td>
									<td class="text-center">{{item.music}}</td>
									<td class="text-center">{{item.otherHobbies}}</td>
									{# {{dump(item.studentDuos)}} #}
								</tr>
							{% endfor %}
						{% endfor %}
					</table>
				</div>
			</div>
			<form action="" method="post">
				<div class="row">
					<div class="form-group col-12 col-lg-6">
						<label for="student_1">Choose a student</label>
						<select class="form-control" name="student_1" id="student_1">
							{% for students in classroomOne %}
								{% for item in students.students %}
									<option value="{{item.id}}">{{ item.firstname }}
										{{ item.lastname }}</option>
								{% endfor %}
							{% endfor %}
						</select>
					</div>
					<div class="form-group col-12 col-lg-6">
						<label for="student_2">Choose an other student</label>
						<select class="form-control" name="student_2" id="student_2">
							{% for students in classroomTwo %}
								{% for item in students.students %}
									<option value="{{item.id}}">{{ item.firstname }}
										{{ item.lastname }}</option>
								{% endfor %}
							{% endfor %}
						</select>
					</div>

					<div class="col-12 d-flex justify-content-center">
						<button type="submit" class="btn btn-peche text-white my-3">Create a student duo</button>
					</div>

				</div>
			</form>

			{# {{dump(studentsFromClassroom1)}} #}

			<h3 class="text-center my-2">Students partnerships</h3>

			<div class="row">
				<div class="col-12 col-lg-6">
					<table class="table table-hover table-bordered">
						<tr>
							<th>Firstname</th>
							<th>Lastname</th>
						</tr>

						{% for student in students1FromDuo %}
							<tr>
								<td>{{ student.firstname }}</td>
								<td>{{ student.lastname }}</td>
							</tr>
						{% endfor %}
					</table>
				</div>
				<div class="col-12 col-lg-6">
					<table class="table table-hover table-bordered">
						<tr>
							<th>Firstname</th>
							<th>Lastname</th>
						</tr>

						{% for student in students2FromDuo %}
							<tr>
								<td>{{ student.firstname }}</td>
								<td>{{ student.lastname }}</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>

	</div>

{% endblock %}
