{% extends 'base.html.twig' %}

{% block title %}Hello Teacher !{% endblock %}

{% block body %}

<div class="row">
	<h1 class="col-5 text-center my-4">Mes classes</h1>
	<h1 class="col-5 text-center my-4">Les classes disponibles</h1>
</div>

<div class="row">
<div class="col-5">
    <table class="table table-hover table-bordered">
        <tr>
            {% for titre in titres %}
                {% if titre != 'id' %}
                    <th>{{ titre }}</th>
                {% endif %}
            {% endfor %}
        </tr>

        {% for classroom in mesCLasses.classrooms %}

            <tr>
                <td class="card-center">{{ classroom.grade }}</td>
                <td class="card-center">{{ classroom.classroom_name }}</td>
            </tr>

        {% endfor %}
    </table>
</div>

<div class="col-5">

     <table class="table table-hover table-bordered">

    <tr>
    {% for titre in titres %}
        {% if titre != 'id' %}
            <th>{{ titre }}</th>
        {% endif %}
    {% endfor %}
    </tr>

    {% for classroom in autresClasses %}

    {% if classroom.teachers.username != 'profdeux' %}
    
        <tr>
            <td class="card-center">{{ classroom.grade }}</td>
            <td class="card-center">{{ classroom.classroom_name }}</td>
        </tr>
        
    {% endif %}

    {% endfor %}
    </table>
</div>

</div>


{% endblock %}