{% extends 'base.html.twig' %}

{% block title %}Hello Teacher !
{% endblock %}

{% block body %}

	<div class="row">
		<h1 class="col-5 text-center my-4">Mes classes</h1>
		<h1 class="col-5 text-center my-4">Les classes disponibles</h1>
	</div>

	<div class="row">
		<div class="col-5">
			<table class="table table-hover table-bordered">
				<tr>
					{% for titre in titres %}
						{% if titre != 'id' %}
							<th>{{ titre }}</th>
						{% endif %}
					{% endfor %}
				</tr>

				{% for classroom in mesCLasses.classrooms %}

					<tr>
						<td class="card-center">{{ classroom.grade }}</td>
						<td class="card-center">{{ classroom.classroomName }}</td>
					</tr>

				{% endfor %}
			</table>
		</div>

		<div class="col-5">

			<table class="table table-hover table-bordered">

				<tr>
					{% for titre in titres %}
						{% if titre != 'id' %}
							<th>{{ titre }}</th>
						{% endif %}
					{% endfor %}
				</tr>

				{% for classroom in classrooms %}

					<tr>
						<td class="card-center">{{ classroom.grade }}</td>
						<td class="card-center">{{ classroom.classroomName }}</td>
					</tr>

				{% endfor %}
			</table>
		</div>

	</div>

	<form action="" method="post">
		<div class="row">

			<div class="form-group col-5">
				<label for="classroom_1">Sélection de ma classe</label>
				<select class="form-control" name="classroom_1" id="classroom_1">
					{% for classroom in mesCLasses.classrooms %}
						<option>
							{{ classroom.id }}
							{# {{ classroom.grade }},
														{{ classroom.classroomName }} #}
						</option>
					{% endfor %}
				</select>
			</div>

			<div class="form-group col-5">
				<label for="classroom_2">Sélection de l'autre classe</label>
				<select class="form-control" name="classroom_2" id="classroom_2">
					{% for classroom in classrooms %}
						<option>
							{{ classroom.id }}
							{# {{ classroom.grade }},
														{{ classroom.classroomName }} #}
						</option>
					{% endfor %}
				</select>
			</div>

		</div>

		<button type="submit" class="btn btn-peche text-white">Submit</button>

	</form>


{% endblock %}
