{% extends 'base.html.twig' %}

{% block title %}Hello Teacher !
{% endblock %}

{% block body %}

<div class="container relate-body">

	<div class="col-12">
		<h1 class="text-center my-5">New Student</h1>

		<div class="container">
			{{ form_start(studentForm, {'attr': {'class': 'col-md-5 mx-auto'}}) }}

			{{ form_row(studentForm.username, {'label': "Username"} )}}
			{{ form_row(studentForm.password, {'label': "Password"} )}}
			{{ form_row(studentForm.confirm_password, {'label': "Confirm password"} )}}
			{{ form_row(studentForm.lastname, {'label': "Lastname"} )}}
			{{ form_row(studentForm.firstname, {'label': "Firstname"} )}}
			{{ form_row(studentForm.age, {'label': "Age"} )}}
			{{ form_row(studentForm.description, {'label': "Description"} )}}
			{{ form_row(studentForm.photo, {'label': "Profile Picture"} )}}
			{{ form_row(studentForm.sport, {'label': "Sport"} )}}
			{{ form_row(studentForm.music, {'label': "Music"} )}}
			{{ form_row(studentForm.OtherHobbies, {'label': "Others"} )}}

			{# {{ form_row(studentForm.classrooms )}} #}


			<label>Classrooms</label>
			<select name="classrooms" id="" class="form-control">
				{% for myclassroom in myclassrooms %}

					<option value="{{ myclassroom.id }}">{{ myclassroom.classroomName }}</option>

				{% endfor %}
			</select>

			<div class="text-center my-3">
				<button type="submit" class="btn btn-peche text-white text-center">Create the student account</button>
			</div>

			{{ form_end(studentForm, {'attr': {'class': 'col-md-5 mx-auto'}}) }}

		</div>
	</div>

</div>

{% endblock %}
