{% extends 'base.html.twig' %}

{% block title %}Relate | Create Classrooms
{% endblock %}

{% block body %}

	<div class="container relate-body">

		<div class="d-flex flex-column align-items-center justify-content-center col-12">
			<h1 class="text-center my-5">Create a new Classroom</h1>

			<div class="container">
				{{ form_start(classroomForm, {'attr': {'class': 'col-md-5 mx-auto', 'novalidate': 'novalidate'}}) }}
				{{ form_row(classroomForm.grade, {'label': "Grade"} )}}
				{{ form_row(classroomForm.classroomName, {'label': "Classroom Name"} )}}

				<div class="text-center my-3">
					<button
						type="submit" class="btn btn-peche text-white text-center mt-5">
						{# <a href="{{ path('teacher_classrooms')}}"></a> #}
						Create the classroom
					</button>
				</div>

				{{ form_end(classroomForm, {'attr': {'class': 'col-md-5 mx-auto'}}) }}
			</div>
		</div>

	</div>

{% endblock %}
