{% extends 'base.html.twig' %}

{% block title %}Hello Admin !
{% endblock %}

{% block body %}

	<h4 class="text-center my-3">New Teacher:
	</h4>

	<div class="container">
		{{ form_start(teacherForm, {'attr': {'class': 'col-md-5 text-red mx-auto'}}) }}

		{{ form_row(teacherForm.lastname )}}
		{{ form_row(teacherForm.firstname )}}
		{{ form_row(teacherForm.username )}}
		{{ form_row(teacherForm.password )}}
        {{ form_row(teacherForm.language )}}
        {{ form_row(teacherForm.email )}}
        {{ form_row(teacherForm.phone_number )}}
        {{ form_row(teacherForm.photo )}}
        {{ form_row(teacherForm.description )}}
        {# {{ form_row(teacherForm.id_school )}}
        {{ form_row(teacherForm.classrooms )}} #}

		<div class="text-center mt-2">
			<button type="submit" class="btn btn-peche text-white text-center">Create the Teacher account</button>
		</div>

		{{ form_end(teacherForm, {'attr': {'class': 'col-md-5 mx-auto'}}) }}

	</div>

{% endblock %}
