{% extends 'base.html.twig' %}

{% block title %}Teacher | ClassroomDuos
{% endblock %}


{% block body %}

	<h1 class="text-center mt-2 pb-1">Teacher | ClassroomDuos</h1>
	<hr>
	<br>


	{# -id: 5
																																								-classroom_1: "4"
																																								-classroom_2: "2" #}

	<table class="table table-bordered text-center">

		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">CLASSROOM</th>
				<th scope="col">CLASSROOM</th>
			</tr>
		</thead>

		<tbody>
			{% for partner in classroomDuo %}
				<tr>
					{% for data in myclassroom %}
						<td class="card-center">
							{{ partner.id }}
						</td>
						<td class="card-center">
							{% if partner.getClassroom1() == data.id %}
								{{ partner.getClassroom1() }}
								{{ data.grade }}
								{{ data.classroomName }}

							{% else %}
								{{ partner.getClassroom1() }}
							{% endif %}
						</td>
						<td class="card-center">
							{% if partner.getClassroom2() == data.id %}
								{{ partner.getClassroom2() }}
								{{ data.grade }}
								{{ data.classroomName }}
							{% else %}
								{{ partner.getClassroom2() }}
							{% endif %}

						</td>

					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
