{% extends 'base.html.twig' %}

{% block title %}Teacher | ClassroomInfo
{% endblock %}


{% block body %}

<div class="container relate-body">

		<h1 class="text-center my-5">My classroom partnership</h1>

		<table class="table table-bordered text-center">

			<thead>
				<tr>
					<th scope="col" class="peach-tab text-light">CLASSROOM</th>
					<th scope="col" class="peach-tab text-light">CLASSROOM</th>
					<th scope="col" class="peach-tab text-light">Partnership</th>
				</tr>
			</thead>

			<tbody>
				{% for partner in classroomDuo %}
					<tr>
						{% for data in myclassroom %}
							<td class="card-center">
								{% if partner.getClassroom1() == data.id %}
									{{ partner.getClassroom1() }}
									{{ data.grade }}
									{{ data.classroomName }}

								{% else %}
									{{ partner.getClassroom1() }}
								{% endif %}
							</td>
							<td class="card-center">
								{% if partner.getClassroom2() == data.id %}
									{{ partner.getClassroom2() }}
									{{ data.grade }}
									{{ data.classroomName }}
								{% else %}
									{{ partner.getClassroom2() }}
								{% endif %}

							</td>
							<td class="card-center">
								<a class="text-white" href="{{ path("assoc_student", {'id': partner.id } )}}">
									<button class="btn btn-peche text-white">Show</button>
								</a>
							</td>

						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<h1 class="text-center my-5">My Students</h1>
		

		<table class="table table-bordered text-center table-hover">

			<thead>
				<tr>
					<th scope="col" class="peach-tab text-light">firstname</th>
					<th scope="col" class="peach-tab text-light">lastname</th>
					<th scope="col" class="peach-tab text-light">age</th>
					<th scope="col" class="peach-tab text-light">description</th>
					<th scope="col" class="peach-tab text-light">sport</th>
					<th scope="col" class="peach-tab text-light">music</th>
					<th scope="col" class="peach-tab text-light">other hobbies</th>
				</tr>
			</thead>
			<tbody>
				{% for student in mystudents %}
					<tr>
						<td>{{ student.firstname }}</td>
						<td>{{ student.lastname }}</td>
						<td>{{ student.age }}</td>
						<td>{{ student.description }}</td>
						<td>{{ student.sport }}</td>
						<td>{{ student.music }}</td>
						<td>{{ student.otherHobbies }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	
</div>
{% endblock %}
