{% extends 'base.html.twig' %}

{% block title %}Homepage
{% endblock %}

{% block body %}

	<h1 class=" text-center mt-2 pb-1">Welcome
		<span>
			{{app.user.username}},
		</span>
		this is your back office
		{{app.user.roles[0]|slice(5)|capitalize }}


	</h1>
	<br>

	{% if is_granted('ROLE_ADMIN') %}

		{#--------------------------------------ADMIN------------------------------------------------------#}

		<div class="row justify-content-center ">
			<div class=" col-md-10">
				<table class="table text-center table-bordered table-height">
					<tr>
						<th class="display-4">
							<a href="{#{{path('')}}#}">
								My school<br>
								<i class="fas fa-school"></i>
							</a>
						</th>
					</tr>
				</table>
			</div>
		</div>
		<br>
		<div class="row justify-content-center ">
			<div class="col-md-10">
				<table class="table text-center table-bordered table-height">
					<tr>
						<th class="display-4">
							<a href="{{ path('create_school') }}">
								Add a school<br>
								<i class="fas fa-plus-circle"></i>
							</a>
						</th>
					</tr>
				</table>
			</div>

		</div>
		{#-------------------------------------FIN ADMIN---------------------------------------------------#}

	{% elseif is_granted('ROLE_SCHOOL') %}

		{#--------------------------------------SCHOOL------------------------------------------------------#}

		<div class="row justify-content-center ">
			<div class=" col-md-5">
				<table class="table text-center table-bordered table-height">
					<tr>
						<th class="display-4">
							<a href="{#{{path('')}}#}">
								Profile<br>
								<i class="fas fa-school"></i>
							</a>
						</th>
					</tr>
				</table>
			</div>

			<div class="col-md-5">
				<table class="table text-center table-bordered table-height">
					<tr>
						<th class="display-4">
							<a href="{#{{path('')}}#}">
								Teachers<br>
								<i class="fas fa-users"></i>
							</a>
						</th>
					</tr>
				</table>
			</div>

		</div>
		<br>
		<div class="row justify-content-center">
			<div class="col-md-5">
				<table class="table text-center table-bordered table-height">
					<tr>
						<th class="display-4">
							<a href="{#{{path('')}}#}">
								Contact<br>
								<i class="fas fa-question-circle"></i>
							</a>
						</th>
					</tr>
				</table>
			</div>

			<div class="col-md-5">
				<table class="table text-center table-bordered table-height">
					<tr>
						<th class="display-4">
							<a href="{{ path('new_teacher') }}">
								Add a teacher<br>
								<i class="fas fa-plus-circle"></i>
							</a>
						</th>
					</tr>
				</table>
			</div>
		</div>
		{#-------------------------------------FIN SCHOOL---------------------------------------------------#}

	{% elseif is_granted('ROLE_TEACHER') %}

		{#--------------------------------------TEACHER------------------------------------------------------#}

		<div class="row justify-content-center ">
			<div class=" col-md-5">
				<table class="table text-center table-bordered table-height">
					<tr>
						<th class="display-4">
							<a href="{#{{ path('') }}#}">
								Profile<br>
								<i class="fas fa-user-alt"></i>
							</a>
						</th>
					</tr>
				</table>
			</div>

			<div class="col-md-5">
				<table class="table text-center table-bordered table-height">
					<tr>
						<th class="display-4">
							<a href="{{ path('create_classroom') }}">
								Create classroom<br>
								<i class="fas fa-school"></i>
							</a>
						</th>
					</tr>
				</table>
			</div>

		</div>
		<br>
		<div class="row justify-content-center">
			<div class="col-md-5">
				<table class="table text-center table-bordered table-height">
					<tr>
						<th class="display-4">
							<a href="{{ path('teacher_classrooms') }}">
								My classrooms<br>
								<i class="fas fa-users"></i>
							</a>
						</th>
					</tr>
				</table>
			</div>

			<div class="col-md-5">
				<table class="table text-center table-bordered table-height">
					<tr>
						<th class="display-4">
							<a href="{{ path('create-student') }}">
								Create Student<br><i class="fas fa-plus-circle"></i>
							</a>
						</th>
					</tr>
				</table>

			</div>
		</div>
		<br>
		<div class="row justify-content-center">
			<div class="col-md-5">
				<table class="table text-center table-bordered table-height">
					<tr>
						<th class="display-4">
							<a href="{{ path('assoc_classroom') }}">
								New Partnership<br>
								<i class="fas fa-people-arrows"></i>
							</a>
						</th>
					</tr>
				</table>
			</div>
		</div>
	</div>
	{#-------------------------------------FIN TEACHER---------------------------------------------------#}

{% elseif is_granted('ROLE_STUDENT') %}

	{#--------------------------------------STUDENT------------------------------------------------------#}
	<div class="row justify-content-center ">
		<div class=" col-md-5">
			<table class="table text-center table-bordered table-height">
				<tr>
					<th class="display-4">
						<a href="{#{{path('')}}#}">
							Profile<br>
							<i class="fas fa-user-alt"></i>
						</a>
					</th>
				</tr>
			</table>
		</div>
		<div class=" col-md-5">
			<table class="table text-center table-bordered table-height">
				<tr>
					<th class="display-4">
						<a href="{#{{path('')}}#}">
							My school<br>
							<i class="fas fa-school"></i>
						</a>
					</th>
				</tr>
			</table>
		</div>
	</div>
	<br>
	<div class="row justify-content-center ">
		<div class="col-md-5">
			<table class="table text-center table-bordered table-height">
				<tr>
					<th class="display-4">
						<a href="{#{{path('')}}#}">
							My teacher<br>
							<i class="fas fa-user-edit"></i>
						</a>
					</th>
				</tr>
			</table>
		</div>
		<div class="col-md-5">
			<table class="table text-center table-bordered table-height">
				<tr>
					<th class="display-4">
						<a href="{#{{path('')}}#}">
							My classroom<br>
							<i class="fas fa-users"></i>
						</a>
					</th>
				</tr>
			</table>
		</div>
	</div>

	<br>
	<div class="row justify-content-center ">

		<div class="col-md-5">
			<table class="table text-center table-bordered table-height">
				<tr>
					<th class="display-4">
						<a href="{#{{path('')}}#}">
							My team mate<br><i class="fas fa-comment-dots"></i>
						</a>
					</th>
				</tr>
			</table>

		</div>
	</div>


	{#-------------------------------------FIN STUDENT---------------------------------------------------#}

{% else %}

	{{path('')}}

{% endif %}{% endblock %}
