{% extends 'base.html.twig' %}

{% block title %}Homepage
{% endblock %}

{% block body %}

	<h1 class=" text-center mt-2 pb-1">Welcome
		<span>
			{{app.user.username}},
		</span>
		this is your back office
		{{app.user.roles[0]|slice(5)|capitalize }}


	</h1>
	<br>

	{% if is_granted('ROLE_ADMIN') %}

		{#--------------------------------------ADMIN------------------------------------------------------#}

		<div class="row justify-content-center">
			<div class="col-md-5 display-4 d-flex justify-content-center align-items-center border border-dark choice-h">
                <a href="{#{{ path('') }}#}" class="text-center d-flex flex-column justify-content-center align-items-center">
                    My school
                    <i class="fas fa-school"></i>
                </a>
            </div>
		</div>
		<br>
		<div class="row justify-content-center ">
			<div class="col-md-5 display-4 d-flex justify-content-center align-items-center border border-dark choice-h">
                <a href="{{ path('create_school') }}" class="text-center d-flex flex-column justify-content-center align-items-center">
                    Add a school
                    <i class="fas fa-plus-circle"></i>
                </a>
            </div>
		</div>
		{#-------------------------------------FIN ADMIN---------------------------------------------------#}

	{% elseif is_granted('ROLE_SCHOOL') %}

		{#--------------------------------------SCHOOL------------------------------------------------------#}

		<div class="row justify-content-center ">
			<div class="col-md-5 display-4 d-flex justify-content-center align-items-center border border-dark choice-h">
                <a href="{#{{ path('') }}#}" class="text-center d-flex flex-column justify-content-center align-items-center">
                    Profile
                    <i class="fas fa-school"></i>
                </a>
            </div>
			<div class="col-md-5 display-4 d-flex justify-content-center align-items-center border border-dark choice-h">
                <a href="{#{{ path('') }}#}" class="text-center d-flex flex-column justify-content-center align-items-center">
                    Teachers
                    <i class="fas fa-users"></i>
                </a>
            </div>
		</div>
		<br>
		<div class="row justify-content-center">
			<div class="col-md-5 display-4 d-flex justify-content-center align-items-center border border-dark choice-h">
                <a href="{#{{ path('') }}#}" class="text-center d-flex flex-column justify-content-center align-items-center">
                    Contact
                    <i class="fas fa-question-circle"></i>
                </a>
            </div>
			<div class="col-md-5 display-4 d-flex justify-content-center align-items-center border border-dark choice-h">
                <a href="{{ path('new_teacher') }}" class="text-center d-flex flex-column justify-content-center align-items-center">
                    Add a teacher
                    <i class="fas fa-plus-circle"></i>
                </a>
            </div>
		</div>
		{#-------------------------------------FIN SCHOOL---------------------------------------------------#}

	{% elseif is_granted('ROLE_TEACHER') %}

		{#--------------------------------------TEACHER------------------------------------------------------#}

		<div class="row justify-content-around">
			<div class="col-md-5 display-4 d-flex justify-content-center align-items-center border border-dark choice-h">
                <a href="{#{{ path('') }}#}" class="text-center d-flex flex-column justify-content-center align-items-center">
                    Profile
                    <i class="fas fa-user-alt"></i>
                </a>
            </div>
			<div class="col-md-5 display-4 d-flex justify-content-center align-items-center border border-dark choice-h">
                <a href="{{ path('create_classroom') }}" class="text-center d-flex flex-column justify-content-center align-items-center">
                    Create classroom
                    <i class="fas fa-school"></i>
                </a>
            </div>
		</div>
		<br>
		<div class="row justify-content-around">
			<div class="col-md-5 display-4 d-flex justify-content-center align-items-center border border-dark choice-h">
                <a href="{{ path('teacher_classrooms') }}" class="text-center d-flex flex-column justify-content-center align-items-center">
                    My classrooms
                    <i class="fas fa-users"></i>
                </a>
            </div>
			<div class="col-md-5 display-4 d-flex justify-content-center align-items-center border border-dark choice-h">
                <a href="{{ path('create-student') }}" class="text-center d-flex flex-column justify-content-center align-items-center">
                    Create student
                    <i class="fas fa-plus-circle"></i>
                </a>
            </div>
		</div>
		<br>
		<div class="row justify-content-around">
			<div class="col-md-5 display-4 d-flex justify-content-center align-items-center border border-dark choice-h">
                <a href="{{ path('assoc_classroom') }}" class="text-center d-flex flex-column justify-content-center align-items-center">
                    New Partnership
                    <i class="fas fa-people-arrows"></i>
                </a>
            </div>	
		</div>
	</div>
	{#-------------------------------------FIN TEACHER---------------------------------------------------#}

{% elseif is_granted('ROLE_STUDENT') %}

	{#--------------------------------------STUDENT------------------------------------------------------#}
	<div class="row justify-content-around ">
		<div class="col-md-5 display-4 d-flex justify-content-center align-items-center choice-h border border-dark">
            <a href="{{ path('create-student') }}" class="text-center d-flex flex-column justify-content-center align-items-center">
                Profile
                <i class="fas fa-user-alt"></i>
            </a>
        </div>
		<div class="col-md-5 display-4 d-flex justify-content-center align-items-center choice-h border border-dark">
            <a href="{#{{ path('') }}#}" class="text-center d-flex flex-column justify-content-center align-items-center">
                My school
                <i class="fas fa-school"></i>
            </a>
        </div>
	</div>
	<br>
	<div class="row justify-content-around ">
		<div class="col-md-5 display-4 d-flex justify-content-center align-items-center choice-h border border-dark">
            <a href="{#{{ path('') }}#}" class="text-center d-flex flex-column justify-content-center align-items-center">
                My teacher
                <i class="fas fa-user-edit"></i>
            </a>
        </div>
		<div class="col-md-5 display-4 d-flex justify-content-center align-items-center choice-h border border-dark">
            <a href="{#{{ path('') }}#}" class="text-center d-flex flex-column justify-content-center align-items-center">
                My classroom
                <i class="fas fa-users"></i>
            </a>
        </div>
	</div>
	<br>
	<div class="row justify-content-around ">
		<div class="col-md-5 display-4 d-flex justify-content-center align-items-center choice-h border border-dark">
            <a href="{#{{ path('') }}#}" class="text-center d-flex flex-column justify-content-center align-items-center">
                My team mate
                <i class="fas fa-comment-dots"></i>
            </a>
        </div>
	</div>


	{#-------------------------------------FIN STUDENT---------------------------------------------------#}

{% else %}

	{{path('')}}

{% endif %}{% endblock %}
