{% extends 'base.html.twig' %}

{% block title %}Homepage
{% endblock %}

{% block body %}

<div class="d-flex flex-column mx-auto">
		<h1 class=" text-center my-5">Welcome
		<span>
			{{app.user.username}},
		</span>
		this is your back office
		{{app.user.roles[0]|slice(5)|capitalize }}


	</h1>

	{% if is_granted('ROLE_ADMIN') %}

		{#--------------------------------------ADMIN------------------------------------------------------#}

		<div class="row justify-content-center">
			<a href="{#{{ path('') }}#}" class="text-center d-flex justify-content-center align-items-center c-green border border-dark col-6">
				<div class="display-4 d-flex flex-column justify-content-center align-items-center choice-h">
                    My school
                    <i class="fas fa-school"></i>
                </div>
			</a>
		</div>
		<br>
		<div class="row justify-content-center ">
		    <a href="{{ path('create_school') }}" class="text-center d-flex justify-content-center align-items-center c-green border border-dark col-6">
				<div class="display-4 d-flex flex-column justify-content-center align-items-center choice-h">
                    Add a school
                    <i class="fas fa-plus-circle"></i>
            	</div>
			</a>
		</div>
		{#-------------------------------------FIN ADMIN---------------------------------------------------#}

	{% elseif is_granted('ROLE_SCHOOL') %}

		{#--------------------------------------SCHOOL------------------------------------------------------#}

		<div class="d-flex flex-row justify-content-center">
			<a href="{#{{ path('') }}#}" class="text-center d-flex justify-content-center align-items-center c-green mx-3">
				<div class=" display-4 d-flex flex-column justify-content-center align-items-center border border-dark choice-h choice-w">
                    Profile
                    <i class="fas fa-school"></i>
                </div>
			</a>
			<a href="{#{{ path('') }}#}" class="text-center d-flex justify-content-center align-items-center c-green mx-3">
				<div class="display-4 d-flex flex-column justify-content-center align-items-center border border-dark choice-h choice-w">
                    Teachers
                    <i class="fas fa-users"></i>
                </div>
			</a>
		</div>
		<br>
		<div class="d-flex flex-row justify-content-center">
			<a href="{#{{ path('') }}#}" class="text-center d-flex justify-content-center align-items-center c-green mx-3">
				<div class="display-4 d-flex flex-column justify-content-center align-items-center border border-dark choice-h choice-w">
                    Contact
                    <i class="fas fa-question-circle"></i>
            	</div>
			</a>
			<a href="{{ path('new_teacher') }}" class="text-center d-flex justify-content-center align-items-center c-green mx-3">
				<div class="display-4 d-flex flex-column justify-content-center align-items-center border border-dark choice-h choice-w">
                    Add a teacher
                    <i class="fas fa-plus-circle"></i>
            	</div>
			</a>
		</div>
		{#-------------------------------------FIN SCHOOL---------------------------------------------------#}

	{% elseif is_granted('ROLE_TEACHER') %}

		{#--------------------------------------TEACHER------------------------------------------------------#}

		<div class="d-flex flex-row justify-content-center">
		    <a href="{#{{ path('') }}#}" class="text-center d-flex justify-content-center align-items-center c-green mx-3 border border-dark col-6">
				<div class="display-4 d-flex flex-column justify-content-center align-items-center choice-h">
                    Profile
                    <i class="fas fa-user-alt"></i>
            	</div>
			</a>
			<a href="{{ path('create_classroom') }}" class="text-center d-flex justify-content-center align-items-center c-green mx-3 border border-dark col-6">
				<div class="display-4 d-flex flex-column justify-content-center align-items-center choice-h">
                    Create classroom
                    <i class="fas fa-school"></i>
            	</div>
			</a>
		</div>
		<br>
		<div class="d-flex flex-row justify-content-center">
		    <a href="{{ path('teacher_classrooms') }}" class="text-center d-flex justify-content-center align-items-center c-green mx-3 border border-dark col-6">
			<div class="display-4 d-flex flex-column justify-content-center align-items-center choice-h">
                    My classrooms
                    <i class="fas fa-users"></i>
            	</div>
			</a>
			<a href="{{ path('create-student') }}" class="text-center d-flex justify-content-center align-items-center c-green mx-3 border border-dark col-6">
				<div class="display-4 d-flex flex-column justify-content-center align-items-center choice-h">
                    Create student
                    <i class="fas fa-plus-circle"></i>
            	</div>
			</a>
		</div>
		<br>
		<div class="d-flex flex-row justify-content-center">
			<a href="{{ path('assoc_classroom') }}" class="text-center d-flex justify-content-center align-items-center c-green mx-3 border border-dark col-6">
				<div class="display-4 d-flex flex-column justify-content-center align-items-center choice-h">
                    New Partnership
                    <i class="fas fa-people-arrows"></i>
            	</div>	
			</a>
		</div>
	</div>
	{#-------------------------------------FIN TEACHER---------------------------------------------------#}

	{% elseif is_granted('ROLE_STUDENT') %}

	{#--------------------------------------STUDENT------------------------------------------------------#}
	<div class="d-flex flex-row justify-content-center">
		<a href="{#{{ path('') }}#}" class="text-center d-flex justify-content-center align-items-center c-green mx-3 border border-dark col-6">
			<div class="display-4 d-flex flex-column justify-content-center align-items-center choice-h">
                Profile
                <i class="fas fa-user-alt"></i>
        	</div>
		</a>
		<a href="{#{{ path('') }}#}" class="text-center d-flex justify-content-center align-items-center c-green mx-3 border border-dark col-6">
			<div class="display-4 d-flex flex-column justify-content-center align-items-center choice-h">
                My teacher
                <i class="fas fa-user-edit"></i>
        	</div>
		</a>
	</div>
	<br>
	<div class="d-flex flex-row justify-content-center">
	    <a href="{#{{ path('') }}#}" class="text-center d-flex justify-content-center align-items-center c-green mx-3 border border-dark col-6">
			<div class="display-4 d-flex flex-column justify-content-center align-items-center choice-h">
                My team mate
                <i class="fas fa-comment-dots"></i>
        	</div>
		</a>
	</div>


	{#-------------------------------------FIN STUDENT---------------------------------------------------#}

	{% else %}

	{{path('')}}

	{% endif %}

</div>

{% endblock %}
