<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome to Relate !
			{% endblock %}
		</title>

		{% block stylesheets %}
			<link
			{# CDN de Bootstrap #} rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

			{# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> #}

			<link rel="preconnect" href="https://fonts.gstatic.com">
			<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap" rel="stylesheet">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous"/>
			<link rel="stylesheet" href="{{ asset('css/style.css')}}">

			<link rel="stylesheet" href="{{ asset('css/styleLog.css')}}">
			<link rel="stylesheet" href="{{ asset('css/styleProfil.css')}}">

			<link rel="stylesheet" href="{{ asset('css/reset.css')}}">
		{% endblock %}
	</head>
	<body>
		<header>
			<nav class="navbar relate-nav navbar-expand-lg navbar-dark bg-green">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0">

						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							<li class="nav-item active mr-5">
								<a class="nav-link bold-600 text-white text-uppercase" href="{{ path('homepage') }}">Home
									<span class="sr-only">(current)</span>
								</a>
							</li>
						{% endif %}

						{#--------------------------------------ADMIN------------------------------------------------------#}

						{% if is_granted('ROLE_ADMIN') %}

							<li class="nav-item">
								<a class="nav-link bold-600 text-white text-uppercase" href="{{ path('schools') }}">Schools</a>
							</li>
							<li class="nav-item">
								<a class="nav-link bold-600 text-white text-uppercase" href="{{ path('create_school') }}">Add School</a>
							</li>
						{% endif %}

						{#--------------------------------------END ADMIN------------------------------------------------------#}

						{#--------------------------------------SCHOOL------------------------------------------------------#}

						{% if is_granted('ROLE_SCHOOL') %}

							<li class="nav-item">
								<a class="nav-link bold-600 text-white text-uppercase" href="{{ path('my_school_infos', {'id': app.user.id}) }}">Profile</a>
							</li>
							<li class="nav-item">
								<a class="nav-link bold-600 text-white text-uppercase" href="{{ path('teachers') }}">Teachers</a>
							</li>
							<li class="nav-item">
								<a class="nav-link bold-600 text-white text-uppercase" href="{{ path('new_teacher') }}">Add Teacher</a>
							</li>
							<li class="nav-item">
								<a class="nav-link bold-600 text-white text-uppercase" href="{{ path('school_contact') }}">Contact</a>
							</li>

						{% endif %}

						{#--------------------------------------END ADMIN------------------------------------------------------#}

						{#--------------------------------------TEACHER------------------------------------------------------#}

						{% if is_granted('ROLE_TEACHER') %}
							<li class="nav-item">
								<a class="nav-link bold-600 text-white text-uppercase" href="{{ path('my_teacher_profile', {'id': app.user.id}) }}">Profile</a>
							</li>
							<li class="nav-item">
								<a class="nav-link bold-600 text-white text-uppercase" href="{{ path('teacher_classrooms') }}">Classrooms</a>
							</li>
							<li class="nav-item">
								<a class="nav-link bold-600 text-white text-uppercase" href="{{ path('create_classroom') }}">New Classroom</a>
							</li>
							<li class="nav-item">
								<a class="nav-link bold-600 text-white text-uppercase" href="{{ path('create-student') }}">Add Students</a>
							</li>
							<li class="nav-item">
								<a class="nav-link bold-600 text-white text-uppercase" href="{{ path('assoc_classroom') }}">New partnership</a>
							</li>

						{% endif %}

						{#--------------------------------------END TEACHER------------------------------------------------------#}

						{#--------------------------------------STUDENT------------------------------------------------------#}

						{% if is_granted('ROLE_STUDENT') %}

							<li class="nav-item">
								<a class="nav-link bold-600 text-white text-uppercase" href="{{ path('my_student_profile', {'id': app.user.id}) }}">Profile</a>
							</li>
						</li>
						<li class="nav-item">
							<a class="nav-link bold-600 text-white text-uppercase" href="{{ path('student_partners') }}">My partners</a>
						</li>

					{% endif %}

					{#--------------------------------------END STUDENT------------------------------------------------------#}
				</ul>

				<ul class="navbar-nav my-lg-0">
					<div class="justify-content-end">
						{% if app.user %}
							<li class="nav-item">
								<a class="nav-link bold-600 text-white text-uppercase" href="{{ path('logout') }}">Logout</a>
							</li>
						{% else %}
							<li class="nav-item">
								<a class="nav-link bold-600 text-white text-uppercase" href="{{ path('login') }}">Login</a>
							</li>
						{% endif %}
					</div>
				</ul>

			</div>
		</nav>
</header>	
{% block body %}

{% endblock %}
<footer class="row bg-green relate-nav mt-5">
	<p class="text-white d-flex justify-content-center align-items-center text-center col-12">
		&copy; 2020 Relate
	</p>
</footer>
	</body>
{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}
</html>

