<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome Relate !
			{% endblock %}
		</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		{% block stylesheets %}
			<link rel="preconnect" href="https://fonts.gstatic.com">
			<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap" rel="stylesheet">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous"/>
			<link rel="stylesheet" href="{{ asset('css/style.css')}}">

			<link rel="stylesheet" href="{{ asset('css/styleLog.css')}}">
			<link rel="stylesheet" href="{{ asset('css/styleProfil.css')}}">

			<link rel="stylesheet" href="{{ asset('css/reset.css')}}">

		{% endblock %}
	</head>
	<body>
		<header>
			</nav>
			<nav class="navbar relate-nav navbar-expand-lg navbar-dark bg-green">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item active">
							<a class="nav-link" href="{{ path('homepage') }}">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item">
							<a class="nav-link" href="#">Schools</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('create_school') }}">New school</a>
						</li>
						{% endif %}
						{% if is_granted('ROLE_SCHOOL') %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('new_teacher') }}">New teacher</a>
						</li>
						{% endif %}
						{% if is_granted('ROLE_TEACHER') %}
						<li class="nav-item">
							<a class="nav-link" href="#">Profile</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('teacher_classrooms') }}">Classrooms</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('assoc_classroom') }}">New partnership</a>
						</li>
						{% endif %}
						{% if is_granted('ROLE_STUDENT') %}
						<li class="nav-item">
							<a class="nav-link" href="#">Profile</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">School</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Teacher</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Classroom</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Team mate</a>
						</li>
						{% endif %}
					</ul>
				</div>
				<div>
					{% if app.user %}
					<li class="nav-item">
						<a class="nav-link text-light log" href="{{ path('logout') }}">Logout</a>
					</li>
					{% else %}
					<li class="nav-item">
						<a class="nav-link text-light log" href="{{ path('login') }}">Login</a>
					</li>
					{% endif %}
				</div>
			</nav>
		</header>
	</body>
</html>
<div class="container relate-body"> {% block body %}{% endblock %}
	</div>

	<footer class="row bg-green relate-nav">
		<p class="text-white d-flex justify-content-center align-items-center">
			&copy; 2020 Relate</p>
	</footer>

	{% block javascripts %}
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	{% endblock %}
</body></html>
