{% extends 'base.html.twig' %}

{% block title %}Hello Admin !
{% endblock %}

{% block body %}

	<h4 class="text-center my-3">New Teacher:
	</h4>

	<div class="container">
		{{ form_start(schoolTeacher, {'attr': {'class': 'col-md-5 mx-auto'}}) }}

		{{ form_row(schoolTeacher.lastname )}}
		{{ form_row(schoolTeacher.firstname )}}
		{{ form_row(schoolTeacher.username )}}
		{{ form_row(schoolTeacher.password )}}
        {{ form_row(schoolTeacher.language )}}
        {{ form_row(schoolTeacher.email )}}
        {{ form_row(schoolTeacher.phone_number )}}
        {{ form_row(schoolTeacher.photo )}}
        {{ form_row(schoolTeacher.description )}}
        {# {{ form_row(schoolTeacher.id_school )}} #}
        {# {{ form_row(schoolTeacher.classrooms )}} #}

		<div class="text-center mt-2">
			<button type="submit" class="btn btn-peche text-white text-center">Create the Teacher account</button>
		</div>

		{{ form_end(schoolTeacher, {'attr': {'class': 'col-md-5 mx-auto'}}) }}

	</div>

{% endblock %}
